# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Tark.AspNetCore.StartupReporting.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Workspace\Open-Source\aspnet-core-startup-reporting\Tark.AspNetCore.StartupReporting\.idea\.idea.Tark.AspNetCore.StartupReporting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
